/**
* Your CSS here
**/
 
h1 {
    font-family: 'Bree Serif', serif;
color:blue;
}

body {
    font-family: 'Bree Serif',serif;
    color:navy;
    background-color: aliceblue;
}
  

h2 {
    font-family: 'Bree Serif', serif;
    color: grey;
    font-size: 0.5cm;
}

h3 {
    font-family: 'Bree Serif', serif;
    color: lightblue 
}
.header {
    background-image: url('https://aimeeasiarose.github.io/aimee-north-pole/static/images/1.jpg');
    height: 300px
}

.testimony {
   color:black;
   background-color: aliceblue;
}

.part3 {
    background-image: url('https://aimeeasiarose.github.io/aimee-north-pole/static/images/north-pole-icebergs.jpg');
}

.todo {
    background-image: url('https://aimeeasiarose.github.io/aimee-north-pole/static/images/north-pole.jpg');
    height:500px;
    margin:0;
}

.gallery {
    display:flex;
}

.gallery img {
    flex-shrink: 0;
    margin-right: 10px;
}

.gallery-window {
    overflow: scroll;
    width: 100%;
}

.animals {
   overflow:scroll;
   width: 100%;
}

section {
    margin-top: 10px;
}

.camera-head h3{
    color: red
}

.camera {
    background-image: url('https://aimeeasiarose.github.io/aimee-north-pole/static/images/cam.jpg')
}

.santa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}